/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

/* Video de fondo */
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HEADER */
header {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header-titulo"
        "header-arriba"
        "header-abajo";
    gap: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #fff;
    z-index: 10;
}

/* Header-Título */
.header-titulo {
    grid-area: header-titulo;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;

    h1 {
        margin: 0;
        /*! Para quitar el margen que viene por defecto */
    }
}

.header-arriba {
    grid-area: header-arriba;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        /* * Puesto 2 veces para mayor control */
        color: white;
        text-decoration: none;
    }
}

.logo {
    flex-basis: 200px;

    img {
        height: 55px;
    }
}

.contenedor-Redes {
    flex-basis: 200px;
    gap: 20px;

    a {
        /* * Puesto 2 veces para mayor control */
        color: white;
        text-decoration: none;

        img {
            width: 20px;
            height: 20px;
            background-color: white;
        }
    }
}

.header-abajo {
    grid-area: header-abajo;
    display: flex;
    justify-content: center;
    margin: 0 px;
    /*! Para quitar el margen que viene por defecto se ajusta en el centro */
    align-items: center;

    nav {
        flex-grow: 1;

        ul {
            display: flex;
            gap: 10px;
            list-style: none;
        }
    }
}

.elemento-buscar {
    display: flex;
    gap: 10px;
    align-items: center;

    input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
    }

    button {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
        background-color: white;
        color: black;
    }
}

/* MAIN */

/* Contenedores */
.destacadoContenedor,
.articuloContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Artículos */
.destacadoArticulo,
.articulo {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    color: #000;
}