/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
/* Video de fondo */
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    border: 2px solid red;
}
#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Secciones */
section {
    background-color: transparent;
    z-index: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    border-bottom: 1px solid #fff;
    color: #fff;
}


/* MAIN */

/* Contenedores */
.destacadoContenedor, .articuloContenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 20px; /* Espacio entre los artículos */
    padding: 20px;
}

/* Artículos */
.destacadoArticulo, .articulo {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para artículos */
    padding: 10px;
    border-radius: 5px;
    color: #000;
}